*{
    background-color: orangered;
}
.red{
    text-align: center;
    text-shadow: 5px 5px 5px 5px purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.red1{
    text-align: center;
    color: aqua;
    background-color: black;
    text-shadow: 5px 5px 5px 5px purple;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: aqua;
}